PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/portalspy
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# For Upstash Redis:
# REDIS_HOST=your-db.upstash.io
# REDIS_PORT=6379
# REDIS_PASSWORD=your_upstash_password
# Or full URL:
# REDIS_URL=rediss://default:your_password@your-db.upstash.io:6379

JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
GOOGLE_CLIENT_ID=your_google_client_id_here

