# Dependencies
node_modules/

# Local DB & logs
data/

# WhatsApp Web Session Data & Auth
.wwebjs_auth/
.wwebjs_cache/

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS files
.DS_Store
.vscode/
.idea/
